<div class="container" style="display: flex;flex-direction: column;">
    <div>
        <button mat-icon-button [mat-dialog-close]="false" style="float: right;">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Add Product</h2>
                        <p>You can add your products here.</p>
                        <div class="panel-body">
                            <form id="register-form" [formGroup]="productForm" (ngSubmit)="submitProduct()">

                                <div class="form-group d-flex flex-column">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Product Code</mat-label>
                                        <input formControlName="productCode" type="number" matInput
                                            placeholder="Enter Product Code">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline">
                                        <mat-label>Product Name</mat-label>
                                        <input formControlName="productName" type="text" matInput
                                            placeholder="Enter product name">
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <mat-label>Product Brand</mat-label>
                                        <input formControlName="brand" type="text" matInput
                                            placeholder="Enter product brand">
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <input [disabled]="!productForm.valid" name="recover-submit"
                                        class="btn btn-lg btn-primary btn-block" value="Add Product" type="submit">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>