<div class="continer-fluid" style="padding: 0px !important;">
    <div class="p-4 " style="font-size: 3vw;background-color: black;color: white;">Welcome to Product  Management System
    </div>
</div>

<section style="height: 85%;">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-3">
                <div class="navigate">
                    <a (click)="loginHome()" class="back-navigation">

                        <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>

                        <div class="description link">
                            Login
                        </div>
                    </a>
                </div>
                <h1>SignUp</h1>
                <form [formGroup]="signUpForm" (ngSubmit)="signUp()" style="display: flex;flex-direction: column;">

                    <mat-form-field  appearance="outline">
                        <mat-label>Name</mat-label>
                        <input formControlName="name" type="text" matInput placeholder="Enter Name">
                    </mat-form-field>
                    <!-- Email input -->
                    <mat-form-field  appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input formControlName="email" type="text" matInput placeholder="Enter email id">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" type="password" matInput placeholder="Enter password">
                    </mat-form-field>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            [disabled]="!signUpForm.valid">Register</button>
                        
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>