.font-weight-bold {
    font-weight: bold;
}

.link {
    flex: 95%;
    align-self: center;
    font-size: 13px;
}
.product-list{
    width: -webkit-fill-available;
    background-color: aliceblue;
}
.back-icon {
    display: flex;
    flex: 5%;
    color: #7f7f7f;
    size: 1px;
    align-self: center;
}

.back-navigation {
    display: inline-flex;
    color: black;
    font-weight: lighter;
    font-size: xx-small;
}

a {
    cursor: pointer;
    text-decoration: unset;
}
:hover.btn-lb {
    color: black;
    background-color: bisque;
}

.img-caption {
    position: relative;
}

.cntr {
    text-align: center;
}

.img-fluid {
    max-width: 23%;
    height: auto;
}