<mat-toolbar style="display: flex;flex-direction: row;justify-content: space-between;">

    <div style="font-size: 3.2vw;">
        Welcome to Result Management System
    </div>
    <div>
        <a mat-button [matMenuTriggerFor]="menu">
            <!-- <i style="font-size: 2.5rem;" class="material-icons">account_circle</i>  -->
            <span class="link"> {{userName}} </span>
            <i class="material-icons">arrow_drop_down</i>
        </a>

        <mat-menu #menu="matMenu" xPosition="before">
            <button class="content-center" mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon><span>Log Out</span>
            </button>
        </mat-menu>

    </div>
</mat-toolbar>

<div class="container">
    <div class="navigate">
        <a (click)="backClicked()" class="back-navigation">
            <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
            <div class="description link">
                Go Back
            </div>
        </a>
    </div>

    <div class="fs-5 font-weight-bold" *ngIf="productDetails">Product Details</div>
    <table class="table table-borderless d-flex fs-6" *ngIf="productDetails">
        <tbody>
            <tr>
                <td>Product Code:</td>
                <td>
                    <div class="font-weight-bold">
                        {{productDetails?.productCode}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Brand:</td>
                <td>
                    <div class="font-weight-bold">
                        {{productDetails?.brand}}
                    </div>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <div class="font-weight-bold">
                        {{productDetails?.productName}}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="fs-5 font-weight-bold mb-2" *ngIf="productDetails">Reviews</div>
    <div class="container d-flex flex-column flex-wrap " *ngIf="unApprovedReviewList.length!=0 ">
        <div class="fs-6 font-weight-bold mb-2" *ngIf="unApprovedReviewList.length>0">UnApproved Reviews</div>
        <div class="d-flex flex-row flex-wrap ">
            <div class="product-list d-flex flex-column flex-row p-4"
                *ngFor="let unApprovedReview of unApprovedReviewList;let i=index;"
                style="border: 1px solid lightgrey; border-radius: 7px;margin-bottom:20px ;margin-right: 40px;">
                <table class="table table-borderless table-responsive">
                    <tbody>
                        <tr>
                            <td style="width: 17%;">Title:</td>
                            <td>
                                <div class="font-weight-bold">
                                    {{unApprovedReview.heading}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 17%;">Rating:</td>
                            <td>
                                <ngb-rating class="font-weight-bold fs-4" style="color: rgb(236, 236, 33);"
                                    [rate]="unApprovedReview.rating" [readonly]="true" [max]="5"></ngb-rating>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 17%;">Description:</td>
                            <td>
                                <div class="font-weight-bold">
                                    {{unApprovedReview.reviewComment}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 17%;"></td>
                            <td>
                                <button mat-stroked-button class="btn-lb mb-2"
                                    (click)="approveReview(unApprovedReview)">
                                    <mat-icon style="color: green;">done_all</mat-icon>
                                    Approve Review
                                </button>
                                <button mat-stroked-button class="btn-lb mb-2"
                                    (click)="unApproveReview(unApprovedReview)">
                                    <mat-icon style="color: red;">delete_outline</mat-icon>
                                    Delete Review
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column flex-wrap " *ngIf="approvedReviewList.length!=0 ">
        <div class="fs-6 font-weight-bold mb-2" *ngIf="approvedReviewList.length>0">Approved Reviews</div>
        <div class="d-flex flex-row flex-wrap ">
            <div class="product-list d-flex flex-row flex-row p-4"
                *ngFor="let approvedReview of approvedReviewList;let i=index;"
                style="border: 1px solid lightgrey; border-radius: 7px;margin-bottom:20px ;margin-right: 40px;">
                <table class="table table-borderless table-responsive">
                    <tbody>
                        <tr>
                            <td style="width: 17%;">Title:</td>
                            <td>
                                <div class="font-weight-bold">
                                    {{approvedReview.heading}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 17%;">Rating:</td>
                            <td>
                                <ngb-rating class="font-weight-bold fs-4" style="color: rgb(236, 236, 33);"
                                    [rate]="approvedReview.rating" [readonly]="true" [max]="5"></ngb-rating>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 17%;">Description:</td>
                            <td>
                                <div class="font-weight-bold">
                                    {{approvedReview.reviewComment}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 17%;"></td>
                            <td>
                                <button mat-stroked-button class="btn-lb mb-2"
                                    (click)="unApproveReview(approvedReview)">
                                    <mat-icon style="color: red;">delete_outline</mat-icon>
                                    Delete Review
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <ng-container *ngIf="approvedReviewList.length==0 &&  productDetails && unApprovedReviewList.length==0">
        <div class="cntr">
            <img src="assets/images/class-not-found.svg" class="img-fluid" alt="class-not-found">
            <div class="img-caption">
                <h2 class="heading-2 width-fix">No Reviews Added By Users</h2>

            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="!productDetails">
        <div class="cntr">
            <img src="assets/images/class-not-found.svg" class="img-fluid" alt="class-not-found">
            <div class="img-caption">
                <h2 class="heading-2 width-fix">No Product found</h2>
                <button class="crt-btn btn-style" mat-raised-button style="margin-top: 5px;"
                    matTooltip="Click to add Product" (click)="addProduct()">
                    <mat-icon>add_circle_outline</mat-icon>
                    Add Products
                </button>
            </div>
        </div>
    </ng-container>



</div>