/* You can add global styles to this file, and also import other style files */

html, body { height: 100vh;width: 100vw; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.app-full-bleed-dialog .mat-dialog-container {
    padding: 0;
  }
