<div class="continer-fluid" style="padding: 0px !important;">
    <div class="p-4" style="font-size: 3vw; background-color: black;color: white;">Welcome to Product Management System
    </div>
</div>

<section style="height: 85%;">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-3">
                <h1>The Product Review community</h1>
                <div class="stats"  style="justify-content:space-between ;background-color: lightgrey;border-radius: 7px;padding: 19px;">
                    <div class="font-weight-bold users d-flex justify-content-center flex-column align-items-center" style="margin-right: 5px;">
                        <mat-icon>supervised_user_circle</mat-icon>
                        {{stats?.noOfUsers}} Members
                    </div>
                    <div class="font-weight-bold products d-flex justify-content-center flex-column align-items-center" style="margin-right: 5px;">
                        <mat-icon>shopping_cart</mat-icon>
                        {{stats?.noOfProducts}} Products
                    </div>
                    <div class="font-weight-bold reviews d-flex justify-content-center flex-column align-items-center" style="margin-right: 5px;">
                        <mat-icon> add_comment</mat-icon>
                        {{stats?.noOfReviews}} reviews
                    </div>
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                    <button type="submit" class="btn btn-primary btn-lg" (click)="loginPage()"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>

                </div>
            </div>

        </div>
    </div>
</section>