
.link {
    flex: 95%;
    align-self: center;
    font-size: 13px;
}

a{
    cursor: pointer;
    text-decoration: unset;
}
a:hover{
    text-decoration: underline;
    color: blue;
}

.description {
    color: #7f7f7f;
    font-size: 13px;
    font-weight: normal;
}

.stats{
    display: flex;
    flex-direction: row;
    
}