<div class="container">

    <div class="icon">
        <i class="material-icons">
            priority_high
            </i>
    </div>

    <p>Are you sure you want to {{ data.text }}?</p>
    <div class="actions" style="display: flex;flex-direction: row;align-items: center;justify-content: center;">
        <button mat-stroked-button class="btn btn-green" style="margin-right: 15px;" (click)="onConfirmation()">Confirm</button>
        <button mat-stroked-button class="btn btn-red" [mat-dialog-close]="false">Cancel</button>
    </div>
</div>