// @import "../../../scss/variables";
.container {
    max-height: 41vh;
    .icon {
        height: 3rem;
        width: 3rem;
        border-radius: 50px;
        border: 2px solid blue;
        margin: 0 auto;
        position: relative;
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: blue;
            font-size: 3rem;
        }
    }
    p {
        margin: 1.25rem;
    }
    .actions {
        margin: 0 auto;
        padding-bottom: 2rem;
    }
}