<mat-toolbar style="display: flex;flex-direction: row;justify-content: space-between;">

    <div style="font-size: 3.2vw;">
        Welcome to Product Management System
    </div>
    <div>
        <a mat-button [matMenuTriggerFor]="menu">
            <!-- <i style="font-size: 2.5rem;" class="material-icons">account_circle</i>  -->
            <span class="link"> {{userName}} </span>
            <i class="material-icons">arrow_drop_down</i>
        </a>

        <mat-menu #menu="matMenu" xPosition="before">
            <button class="content-center" mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon><span>Log Out</span>
            </button>
        </mat-menu>

    </div>
</mat-toolbar>

<div class="container">
    <div class="navigate">
        <a (click)="backClicked()" class="back-navigation">

            <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>

            <div class="description link">
                Home Page
            </div>
        </a>
    </div>
    <form (ngSubmit)="search(valueToSearch)" style="display: flex;justify-content: center;">
        <mat-form-field appearance="outline" style="width: 70%;">
            <input type="text" matInput placeholder="Search for product's code, name, brand" [(ngModel)]="valueToSearch"
                [ngModelOptions]="{standalone: true}">
            <button type="submit" *ngIf="valueToSearch" matSuffix mat-icon-button (click)="search(valueToSearch)">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="d-flex flex-row" style="justify-content:space-between;">
        <mat-form-field appearance="outline" style="margin-right: 10px;">
            <mat-label>Filter By</mat-label>
            <mat-select [(ngModel)]="selectedFilter" (selectionChange)="filterData()">
                <mat-option *ngFor="let filter of filters;" [value]="filter">{{filter}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button matTooltip="Click to add Product" class="btn-lb" style="height: fit-content;" mat-raised-button (click)="addProduct()">
            <mat-icon>add_circle_outline</mat-icon>Add Product</button>
    </div>
    
</div>
<app-view-product [productList]="filteredResult"></app-view-product>