<div class="container" style="display: flex;flex-direction: column;">
    <div>
        <button mat-icon-button [mat-dialog-close]="false" style="float: right;">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="row">
        <div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Add Review</h2>
                        <p>You can add your review here.</p>
                        <div class="panel-body">
                            <form id="register-form" [formGroup]="reviewForm" (ngSubmit)="rateProduct()">

                                <div class="form-group d-flex flex-column">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Topic</mat-label>
                                        <input formControlName="heading" type="text" matInput
                                            placeholder="Enter heading of Review">
                                    </mat-form-field>

                                    <mat-form-field appearance="outline" >
                                        <mat-label>Description</mat-label>
                                        <input formControlName="reviewComment" type="text" matInput
                                            placeholder="Enter description of review" minlength="20" maxlength="400">
                                            <mat-error *ngIf="this.reviewForm.controls['reviewComment'].errors">{{getErrorMessage(this.reviewForm.controls['reviewComment'].errors)}}</mat-error>
                                    </mat-form-field>
                                    <div class="rating d-flex flex-row fs-5 mb-4 mt-4" >
                                        <div class="head">
                                            Rating:
                                        </div>
                                        <ngb-rating class="fs-3" style="color: rgb(236, 236, 33);"
                                            formControlName="rating" [readonly]="false" [max]="5">
                                        </ngb-rating>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input [disabled]="!reviewForm.valid" name="recover-submit"
                                        class="btn btn-lg btn-primary btn-block" value="Add Review" type="submit">
                                </div>
                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>