.font-weight-bold {
    font-weight: bold;
}

:hover.btn-lb {
    color: black;
    background-color: bisque;
}

.img-caption {
    position: relative;
}

.cntr {
    text-align: center;
}

.img-fluid {
    max-width: 23%;
    height: auto;
}

.product-list{
    width: 320px;;
}