<div class="container d-flex flex-row flex-wrap justify-content-center"  *ngIf="productList.length!=0">
    <div class="product-list d-flex flex-column flex-row p-4" *ngFor="let product of productList;let i=index;"
        style="border: 1px solid lightgrey; border-radius: 7px;margin-bottom:20px ;margin-right: 40px;">
        <table class="table table-borderless table-responsive ">
            <tbody>
                <tr>
                    <td>Product Code:</td>
                    <td>
                        <div class="font-weight-bold">
                            {{product.productCode}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Brand</td>
                    <td>
                        <div class="font-weight-bold">
                            {{product.brand}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>
                        <div class="font-weight-bold">
                            {{product.productName}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Average Rating:</td>
                    <td class="fs-4">
                        <ngb-rating style="color: rgb(236, 236, 33);" [rate]="getAverageRating(product.review)"
                            [readonly]="true" [max]="5"></ngb-rating>

                </tr>
                <tr>
                    <td>No of Reviews:</td>
                    <td >
                        {{getNoOfReviews(product.review)}}

                </tr>
                <tr>
                    <td></td>
                    <td class="fs-4 d-flex flex-column ">
                        <button mat-stroked-button class="btn-lb mb-2" (click)="goToReview(product.productCode)">Write
                            Reviews</button>
                        <button mat-stroked-button class="btn-lb" (click)="goToReview(product.productCode)">View All
                            Reviews</button>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-container *ngIf="productList.length==0">
    <div class="cntr">
        <img src="assets/images/class-not-found.svg" class="img-fluid" alt="class-not-found">
        <div class="img-caption">
            <h2 class="heading-2 width-fix">No Product Found</h2>
            <button class="crt-btn btn-style" mat-raised-button style="margin-top: 5px;" matTooltip="Click to add Product" (click)="addProduct()">
                <mat-icon>add_circle_outline</mat-icon>
                Add Products
            </button>
        </div>
    </div>
</ng-container>