<div class="main-heading">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div class="main-heading-child">

            <button class="button" mat-icon-button style="background-color: transparent" [mat-dialog-close]="false">
                <mat-icon>
                    close
                </mat-icon>
            </button>
            <h2 class="heading-2">Review Requests to be Approved</h2>
        </div>
    </div>
</div>
<div class="container" fxLayout="column">
    <div class="user-table u-margin-bottom-xsmall">
        <table class="table" style="text-align: center;vertical-align: middle;" mat-table [dataSource]="dataSource" matSort *ngIf="dataSource?.length!=0">
            <ng-container matColumnDef="sno">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>S. No</th>
                <td mat-cell *matCellDef="let review;let i=index;"> {{i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="heading">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let review">
                    {{review.heading}}
                </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let review"> {{review.reviewComment}} </td>
            </ng-container>

            <ng-container matColumnDef="rating">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Rating</th>
                <td mat-cell *matCellDef="let review">
                    <ngb-rating class="font-weight-bold fs-4" style="color: rgb(236, 236, 33);" [rate]="review.rating"
                        [readonly]="true" [max]="5"></ngb-rating>
                </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell mat-sort-header *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let review">
                    <button mat-button class="crt-btn approve" (click)="approveReview(review)">Approve</button>
                    <button mat-button class="crt-btn dismiss" (click)="unApproveReview(review)">Dismiss</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <ng-container *ngIf="dataSource?.length==0">
            <div class="cntr">
                <img src="assets/images/class-not-found.svg" class="img-fluid-2" alt="request-not-found">
                <div class="img-caption">
                    <h2 class="heading-2">No pending request found</h2>
                </div>
            </div>
        </ng-container>


    </div>
</div>