
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.main-heading {
//   color: $color-blue;
  height: fit-content;
  padding: 15px;
  .main-heading-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    h2 {
      margin: auto;
    }
    small {
    //   color: $color-gray;
    }
  }
}
.container {
  padding: 0px 15px;
  table {
    border-collapse: initial;
  }
  .mat-row:nth-child(even) {
    background-color: #f8f8f8;
  }

  .mat-row:nth-child(odd) {
    background-color: #f8f8f8;
  }

  td.mat-cell {
    padding: 4px;
    border-bottom: 0px;
    font-size: 13px;
  }
  tr.mat-row {
    height: 60px !important;
  }

  th td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .button {
    float: right !important;
    border: none;
    outline: none;
    background-color: white;
    font-size: 1.4rem;
    cursor: pointer;
  }
  .top {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .mat-header-cell {
    color: rgba(0, 0, 0, 0.54);
    background-color: initial;
  }
  .approve{
    border-radius: 40px;
    background-color: #4b8573;
    color: white;
    font-weight: bold;
    line-height: 25px;
    padding: 0px 12px;
    margin-right: 15PX;
  }
  .dismiss{
    border-radius: 40px;
    background-color:white;
    color:  #F36D63;
    line-height: 25px;
    padding: 0px 12px;
  }
  .cntr{
    text-align: center;
}
.img-fluid-2{
    max-width: 30%;
    height: auto;
}
.img-caption{
    position: relative;
}
}
