.font-weight-bold {
    font-weight: bold;
}

:hover.btn-lb {
    color: black;
    background-color: bisque;
}


.img-caption {
    position: relative;
}
.product-list{
    width: 320px;;
}
.cntr {
    text-align: center;
}

.img-fluid {
    max-width: 23%;
    height: auto;
}

// .star {
//     position: relative;
//     display: inline-block;
//     font-size: 3rem;
//     color: #d3d3d3;
// }

// .full {
//     color: yellow;
// }

// .half {
//     position: absolute;
//     display: inline-block;
//     overflow: hidden;
//     color: yellow;
// }