<mat-toolbar style="display: flex;flex-direction: row;justify-content: space-between;">

    <div style="font-size: 3.2vw;">
        Welcome to Product Management System
    </div>
    <div>
        <a mat-button [matMenuTriggerFor]="menu">
            <!-- <i style="font-size: 2.5rem;" class="material-icons">account_circle</i>  -->
            <span class="link"> {{userName}} </span>
            <i class="material-icons">arrow_drop_down</i>
        </a>

        <mat-menu #menu="matMenu" xPosition="before">
            <button class="content-center" mat-menu-item (click)="logOut()">
                <mat-icon>exit_to_app</mat-icon><span>Log Out</span>
            </button>
        </mat-menu>

    </div>
</mat-toolbar>
<div class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
            height: 40vh">
    <div class="heading-3">
        THE PRODUCT COMMUNITY
        <div class="description">
            Find Solutions. Ask Questions. <br>
            Connect with users across the world
        </div>
        <div class="stats d-flex flex-row my-3 fs-6"  style=" justify-content:space-between ;">
            <div class="font-weight-bold users d-flex justify-content-center flex-column align-items-center" style="margin-right: 5px;">
                <mat-icon>supervised_user_circle</mat-icon>
                {{stats?.noOfUsers}} Members
            </div>
            <div class="font-weight-bold products d-flex justify-content-center flex-column align-items-center" style="margin-right: 5px;">
                <mat-icon>shopping_cart</mat-icon>
                {{stats?.noOfProducts}} Products
            </div>
            <div class="font-weight-bold reviews d-flex justify-content-center flex-column align-items-center" style="margin-right: 5px;">
                <mat-icon> add_comment</mat-icon>
                {{stats?.noOfReviews}} reviews
            </div>
        </div>
        <button mat-raised-button (click)="viewPendingReviews()" [matBadge]="noOfreviews">Pending Reviews</button>
    </div>
</div>
<div class="container">
    <div class="search">
        <form (ngSubmit)="search(valueToSearch)" style="display: flex;justify-content: center;">
            <mat-form-field appearance="outline" style="width: 70%;" >
                <input type="text" matInput placeholder="Search for product's code, name, brand" [(ngModel)]="valueToSearch" [ngModelOptions]="{standalone: true}">
                <button type="submit" *ngIf="valueToSearch" matSuffix mat-icon-button (click)="search(valueToSearch)">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>

    </div>
</div>