
.link {
    flex: 95%;
    align-self: center;
    font-size: 13px;
}

.back-icon {
    display: flex;
    flex: 5%;
    color: #7f7f7f;
    size: 1px;
    align-self: center;
}

.back-navigation {
    display: inline-flex;
    color: black;
    font-weight: lighter;
    font-size: xx-small;
}

a {
    cursor: pointer;
    text-decoration: unset;
}